nav {
  position: fixed;
  color:#FFFFFF;
  background-color:#4056A1;
  height: 120px;
  width:100%;
  padding-right:1.5em;
  padding-left:1.5em;
  padding-top: 1.5em;
  }

 
 span {
    font-family: Bungee;
    text-align: center;
  }

 .arrow {
    color:red;
  }