new-tweet {
  margin:auto;
  margin-top:34px;
  width:70%;
  background-color: #eee;
}

.new-tweet button {
  color:#FFFFFF;
  background-color:#4056A1;
  font-family: Bungee;
  text-align: center;
  float: left;
  margin-left: 1.0em;
 }

 .new-tweet h3 {
  text-align: left;
  margin-left: 1.0em;
}

.new-tweet h6 {
  float:left;
}


.textArea {
  width: 95%;
  border: none;
  background: none;
  margin-left: 1.0em;
  margin-right: 1.0em;
  margin-bottom: 1.0em;
  border-bottom: 4px solid;
  font-weight: bold;
} 

.counter {
float:right;
font-weight: bold;
margin-right: 1.8em;
}



