#tweetdisplay {  
border-style: solid;
margin-top: 4em;
margin-bottom: 2em;
margin-left: 1em;
margin-right:1em;
height: 250px;
width: 95%;
}

#tweetdisplay h3{
display:flex;
justify-content: flex-start;  
Margin-left: 1em;
text-align: center;
}

#tweetdisplay span {
 
font-family: sans-serif;
position: absolute; 
top: 10;
right: 0; 
width: 200px; 
text-align:right;
Margin-right: 2em;
font-weight: lighter;
color :lightgray;
}

#tweetdisplay p {
border-bottom: 4px solid;
width : 95%;
margin-left: 1em;
margin-right: 3em;
}

#tweetdisplay div {
  margin-left: 1em;
}

#tweetdisplay i{
  color:#4056A1;
  float:right;
  margin-right: 1em;
}

